/*
  CSS RESET
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Colors */
:root {
  --color-primary-dark: black;
  --color-primary-light: white;
  --color-secondary-dark: #ffe500;
  --color-secondary-light: #fffce6;
}

/* CSS ICONS */
.gg-arrow-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  --ggs: 1.5;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
}

.gg-arrow-down::after,
.gg-arrow-down::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 4px;
}

.gg-arrow-down::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: 7px;
}

.gg-arrow-down::before {
  width: 2px;
  height: 16px;
  left: 10px;
  background: currentColor;
}

.gg-figma {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 14px;
  height: 20px;
  transform: scale(var(--ggs, 1));
  background: linear-gradient(to left, currentColor 3px, transparent 0)
      no-repeat 3px 7px/3px 6px,
    linear-gradient(to left, currentColor 3px, transparent 0) no-repeat 3px 14px/3px
      3px;
}

.gg-figma::after,
.gg-figma::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 13px;
  height: 6px;
  background: currentColor;
  border-radius: 22px;
}

.gg-figma::after {
  width: 6px;
  top: 7px;
  box-shadow: 7px 0 0, 0 7px 0;
}

.gg-browse {
  display: block;
  position: relative;
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  width: 16px;
  height: 22px;
  border: 2px solid;
  border-radius: 3px;
  background: linear-gradient(to left, currentcolor 10px, transparent 0)
      no-repeat center 2px/8px 2px,
    linear-gradient(to left, currentcolor 10px, transparent 0) no-repeat center
      6px/8px 2px;
}

.gg-browse::after,
.gg-browse::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 22px;
}

.gg-browse::before {
  width: 6px;
  height: 6px;
  border: 2px solid;
  left: 3px;
  top: 9px;
}

.gg-browse::after {
  width: 2px;
  height: 4px;
  background: currentColor;
  bottom: 1px;
  right: 2px;
  transform: rotate(-45deg);
}

/* Global element styles */
html,
body {
  height: 100%;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skip-link {
  width: 10rem;
  margin-left: -5rem;

  position: absolute;
  top: 4px;
  left: -100%;

  font-size: 1rem;
  text-align: center;
}

.skip-link:focus {
  left: 50%;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  height: 4rem;

  color: var(--color-secondary-light);
}

.header__link {
  flex: 1;
}

.header__title {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 2rem;
}

.navbar {
  flex: 1;
}

.navbar__menu {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 2rem;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 80%;
  min-height: 75vh;
}

.hero__title {
  padding: 1 2rem;

  font-size: 4rem;
  font-weight: 600;
}

.hero__highlight {
  color: var(--color-secondary-dark);
}
.hero__cta {
  align-self: flex-end;
  background-color: var(--color-secondary-dark);
  color: var(--color-primary-dark);
  padding: 0.5rem 2rem;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  border: 1px solid var(--color-secondary-dark);
  border-radius: 50%;

  color: var(--color-secondary-dark);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 80%;
}

.projects__heading {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 600;

  color: var(--color-secondary-dark);
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.project {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project__image {
  flex: 1;
  height: auto;
}

.project__info {
  flex: 1;

  height: 100%;
  padding-left: 3rem;
}

.project__title {
  font-size: 1.5rem;
  font-weight: 600;

  padding-top: 1rem;

  color: var(--color-secondary-dark);
}

.project__subtitle {
  font-size: 1.2rem;
  font-weight: 400;

  color: var(--color-secondary-light);
}

.project__description {
  font-size: 1rem;
  font-weight: 400;

  padding: 1rem 0;

  color: var(--color-primary-light);
}

.project__links {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.project__link {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.5rem 2rem;
  border-radius: 2rem;

  font-size: 1rem;
  font-weight: 400;

  color: var(--color-primary-light);
}
